<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="OrangeHRM.CobrandingTest"/>
     
      <class name="OrangeHRM.NationalityTest"/>
      <class name="OrangeHRM.LoginTest"/>
      <class name="OrangeHRM.ChangeColour"/>
      <class name="OrangeHRM.UsermanagementTest"/>
      <class name="OrangeHRM.QulificationTest"/>
      <class name="OrangeHRM.EmailconfigTest"/>
      <class name="OrangeHRM.MyinfoTest"/>
      <class name="OrangeHRM.OrganizationTest"/>
      <class name="OrangeHRM.deletejobdataTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
